# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist/
obj/
bin/
coverage/
wwwroot/
build/

# dependencies
node_modules/
packages/


# IDE - Visual Studio
.vs/
launchSettings.json
*.user

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Firebase cache
.firebase/

#misc
Wallet-Firebase/MobileApp/icons/
Wallet/swagger/walletApi/
Wallet/swagger/swagger-codegen-cli-2.2.3.jar
*.jar

# System Files
.DS_Store
Thumbs.db

#ignore Paint 3D source file.
*.glb