<section class="row">
  <app-alerts [alerts]="alerts"></app-alerts>
</section>
<div class="row">
  <app-import-transactions (load)="addLines($event)" (save)="save()" [canSave]="canSave">
  </app-import-transactions>
</div>
<div class="row">
  <div class="col-md-2">
    <span>Number of imported row:</span>
    <span>{{numRow}}</span>
  </div>
</div>
<ul class="nav nav-tabs">
  <li role="presentation" [ngClass]="{ active: current === 'full' }"><a (click)="show('full');">Full list</a></li>
  <li role="presentation" [ngClass]="{ active: current === 'groupStock' }"><a (click)="show('groupStock');">Group stock</a></li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane" [ngClass]="{ active: current === 'full', in: current === 'full' }">
    <app-transaction-table [items]="linesToSave"></app-transaction-table>
  </div>
  <div role="tabpanel" class="tab-pane" [ngClass]="{ active: current === 'groupStock', in: current === 'groupStock' }">
    <app-stock-table [stocks]="stocks"></app-stock-table>
  </div>
</div>