<div class="row">
  <app-import-transactions (load)="addLines($event)">
  </app-import-transactions>
</div>
<div class="row">
  <div class="col-md-2">
    <span>Number of imported row:</span>
    <span>{{numRow}}</span>
  </div>
</div>
<ul class="nav nav-tabs">
  <li role="presentation" [ngClass]="{ active: current === 'full' }"><a (click)="show('full');">Full list</a></li>
  <li role="presentation" [ngClass]="{ active: current === 'groupStock' }"><a (click)="show('groupStock');">Group stock</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane" [ngClass]="{ active: current === 'full', in: current === 'full' }">
      <div *ngIf="fullListEnabled">
        <table>
          <thead>
            <tr>
                <th>created</th>
                <th>name</th>
                <th>amount</th>
                <th>direction</th>
                <th>source</th>
                <th>comment</th>
                <th>category</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of linesToSave">
              <td>{{item.created}}</td>
              <td>{{item.name}}</td>
              <td>{{item.amount}}</td>
              <td>{{item.direction}}</td>
              <td>{{item.source}}</td>
              <td>{{item.comment}}</td>
              <td>{{item.category}}</td>
            </tr>
            <tbody>
        </table>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" [ngClass]="{ active: current === 'groupStock', in: current === 'groupStock' }">
        groupStock
    </div>
  </div>