<section class="row">
  <app-add-transaction (add)="addLine($event)">
  </app-add-transaction>
</section>
<section class="row">
    <app-import-transactions (load)="addLines($event)">
    </app-import-transactions>
</section>
<section class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of linesToSave">
        <td>{{item.name}}</td>
        <td>{{item.value}}</td>
      </tr>
    </tbody>
  </table>
</section>