.transaction-summary {
    position: fixed;
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 32px;
}

.transactions {
    tbody {
        tr.selected {
            background-color: $table-hover-bg;
        }
        @each $theme, $value in $theme-colors {
            $color: theme-color-level($theme, -9);
            $select-background: darken($color, 5%);

            tr.table-#{$theme}.selected {
                background-color: $select-background;
            
                > td,
                > th {
                    background-color: $select-background;
                }
            }
        }
    }
}