.summary {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 5px;
  border: 1px solid #6c757d;
  padding-left: 0.75rem;
  border-radius: 0.25rem;
  align-items: baseline;
  div {
    flex-grow: 1;
  }
}

