.created-at {
    width: 186px;
}
.name {
    width: 36%;
}
.direction {
    width: 16px;
}
.price {
    width: 100px;
}
.wallet-name {
    width: 150px;
}
.category {
    width: 150px;
}
.commands {
    width: 96px;
}
.table>tbody>tr>td {
    vertical-align: middle;
}