
// Request a theme color level
@function theme-color-level($color-name: "primary", $level: 0) {
  $color: theme-color($color-name);
  $color-base: if($level > 0, #000, #fff);
  $level: abs($level);

  @return mix($color-base, $color, $level * $theme-color-interval);
}

.transactions {
    tbody {
        tr.selected {
            background-color: $table-hover-bg;
        }
        @each $theme, $color in $theme-colors {
            $select-background: darken($color, 5%);

            tr.table-#{$theme}.selected {
                background-color: $select-background;
            
                > td,
                > th {
                    background-color: $select-background;
                }
            }
        }
    }
}
