<form action="">
  <table class="table table-responsive table-hover table-middle">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let wallet of wallets">
        <td><span>{{wallet.moneyWalletId}}</span></td>
        <td><span>{{wallet.name}}</span></td>
        <td>
          <button class="btn btn-danger pull-right" type="button" (click)="onDeleteBtnClicked(wallet)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          <button class="btn btn-primary pull-right" type="button" (click)="onEditBtnClicked(wallet)">
              <span class="glyphicon glyphicon-edit">
            </span>
        </button>
        </td>
      </tr>
    </tbody>
  </table>
</form>